<div class="contactmodule mid">
  <br><br><br><center><h1><b>Your happiness is our #1 priority. </b></h1><br>
  <h3>We would love to hear from you.</h3><br>
       <a href="https://skylar.zendesk.com/hc/en-us/requests/new"><button class="button buttonCTA">CONTACT US</button></a></center><br>
</div>


<footer class="footer">
  <!--<div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>-->
  <div class="footer-top">
    <ul>
      <li><a href="https://skylar.com/products/sample-palette">Sample</a></li>
      <li><a href="https://skylar.com/pages/quiz-test">Scent Quiz</a></li>
      <li><a href="https://skylar.com/collections/fine-fragrance">Fine Fragrance</a></li>
      <li><a href="https://skylar.com/collections/home-fragrance">Home Fragrance</a></li>
      <li><a href="https://skylar.com/collections/shop-all">Shop All</a></li>
      <li><a href="https://skylar.com/pages/share">Refer</a></li>
      <li><a href="https://skylar.com/pages/customer-reviews">Reviews</a></li>
    </ul>
    <ul>
      <li><a href="https://skylar.com/blogs/press">Press</a></li>
      <li><a href="https://skylar.com/pages/philosophy">Our Products</a></li>
      <li><a href="https://skylar.com/pages/about-us">Our Story</a></li>
      <li><a href="https://skylar.com/pages/step-up">Giving Back</a></li>
      <li><a href="https://skylar.com/blogs/notes">Blog</a></li>
      <li><a href="https://skylar.zendesk.com/hc/en-us/">Help &amp; FAQ</a></li>
    </ul>
    <div class="subscribe">
      <div class="subscribe__field">
        <input type="text" placeholder="Your email" name="" value="">
        <button type="button" name="button"><img src="{{asset 'next.svg'}}"</button>
      </div>
      <div class="footr-social_media">
        <a href="https://instagram.com/skylar" title="Skylar on Twitter" class="" rel="me" target="_blank">
          <img src="//cdn.shopify.com/s/files/1/1445/2216/files/instagram_40.png?v=1521486527">
        </a>
        <a href="https://facebook.com/skylar" title="Skylar on Twitter" class="" rel="me" target="_blank">
          <img src="//cdn.shopify.com/s/files/1/1445/2216/files/facebook_40.png?v=1521486512">
        </a>
        <a href="https://www.twitter.com/skylar" title="Skylar on Twitter" class="" rel="me" target="_blank">
          <img src="//cdn.shopify.com/s/files/1/1445/2216/files/twitter_40.png?v=1521486497">
        </a>
        <a href="https://pinterest.com/skylar" title="Skylar on Twitter" class="" rel="me" target="_blank">
          <img src="//cdn.shopify.com/s/files/1/1445/2216/files/pinterest_40.png?v=1521486456">
        </a>
        <a href="mailto:hello@skylar.com" title="Skylar on Twitter" class="" rel="me" target="_blank">
          <img src="//cdn.shopify.com/s/files/1/1445/2216/files/email_40.png?v=1521486239">
        </a>
        <span class="hashtag">#skylarbody</span>
      </div>
      <div class="footer-logo">
          <a id="bbblink" class="sehzbas" href="https://www.bbb.org/losangelessiliconvalley/business-reviews/perfume/skylar-body-in-venice-ca-872223#bbbseal" title="Skylar Body, Inc., Perfume, Venice, CA" style="padding: 0px; margin: 0px;"><img id="bbblinkimg" src="https://seal-sanjose.bbb.org/logo/sehzbas/skylar-body-872223.png" alt="Skylar Body, Inc., Perfume, Venice, CA" style="padding: 0px; border: none;"></a><script type="text/javascript">var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); (function(){var s=document.createElement('script');s.src=bbbprotocol + 'seal-sanjose.bbb.org' + unescape('%2Flogo%2Fskylar-body-872223.js');s.type='text/javascript';s.async=true;var st=document.getElementsByTagName('script');st=st[st.length-1];var pt=st.parentNode;pt.insertBefore(s,pt.nextSibling);})();</script><script src="https://seal-sanjose.bbb.org/logo/skylar-body-872223.js" type="text/javascript" async=""></script>
          <style media="screen">
            .sehzbas {
              height:45px !important;
              margin-right: 20px !important;
            }
          </style>

          <img src="//cdn.shopify.com/s/files/1/1445/2216/files/IconPETA_bk_1024x1024.png?v=1521486843">
<img src="https://cdn.shopify.com/s/files/1/1445/2216/files/CFI_LeapingBunny_RGB_no-text_1024x1024.png?v=1530555587">
        </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="eight columns">
        <p class="credits">
          © 2018 <a href="/" title="">Skylar</a>.
          All Rights Reserved.<br>
          <a target="_blank?ref=out-of-the-sandbox" rel="nofollow?ref=out-of-the-sandbox" href="https://www.shopify.com?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore?ref=out-of-the-sandbox"> </a>
        </p>
      </div>
<div class="one-third column">     <ul class="footer_menu">
        <li><a href="https://skylar.com/pages/terms-of-use">Terms of Use</a></li>
        <li><a href="https://skylar.com/pages/privacy-policy">Privacy Policy</a></li>
        <li><a href="https://skylar.com/pages/skylar-body-cookie-policy">Cookie Policy</a></li>
      </ul>
      </div>
    </div>
  </div>
  <div class="back_to_top">Back to Top <img src="{{asset 'arrow_down.png'}}" /></div>
</footer>
