<header class="header">
  <a href="https://www.skylar.com"><div class="logo">
      <img src="{{settings.logo}}" alt="{{t 'logo'}}">
  </div></a>
  <nav class="user-nav" id="user-nav">
    <ul>
      <li><a href="https://skylar.com/collections/fine-fragrance">Fine Fragrance</a></li>
      <li><a href="https://skylar.com/collections/home-fragrance">Home Fragrance</a></li>
      <li><a href="https://skylar.com/collections/shop-all">Shop All</a></li>
      <li><a href="https://skylar.com/products/sample-palette">Sample</a></li>
      <!--<li>{{link 'community'}}</li>
      <li>{{link 'new_request' class='submit-a-request'}}</li>-->
      <li><a href="https://skylar.com/pages/quiz">Quiz</a></li>
      <li class="dropdown">
        <a class="dropbtn">About <img src="{{asset 'arrow-down.png'}}" /></a>
        <div class="dropdown-content">
          <a href="https://skylar.zendesk.com/hc/en-us/requests/new">Contact Us</a>
          <a href="https://skylar.com/pages/philosophy">Products</a>
          <a href="https://skylar.com/pages/about-us">Story</a>
          <a href="https://skylar.com/pages/step-up">Giving Back</a>
        </div>
      </li>
    </ul>
  </nav>
  <div class="nav-wrapper">
    <span class="icon-menu"></span>
   
    <a href="https://skylar.zendesk.com/hc/en-us/requests/new">Contact Us</a>
    <div class="zendesk-card">
      <img src="{{asset 'cart.svg'}}" />
      <span>0</span>
    </div>
  </div>

</header>
