<section class="section hero">
  <div class="hero-inner">
    <div class="display-2 text-left size-24 font-weight-bold mb-0_5">How can we help you?</div><br>
    {{search submit=false instant=true class='search search-full' placeholder='Search our FAQs...'}}
  </div>
</section>

<section class="section knowledge-base">
  <div class="container">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
        <li class="blocks-item">
          <a href='#{{id}}' class="blocks-item-link">
            <!-- url {{url}} -->
            <h4 class="blocks-item-title">{{name}}</h4>
            <p class="blocks-item-description">{{excerpt description}}</p>
          </a>
        </li>
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles" >
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </div>
</section>

<section class="section-questions">
  <div class="container">
    {{#each categories}}
      <h2 class="title" id="{{id}}">{{name}}</h2>
      <hr class="title">
      {{#each sections}}
      <div class="box">
        <h3 class="title">{{name}}</h2>

        <div class="box-items">
          <ul>
            {{#each articles}}
            <li id="article-{{id}}">
              <p class="question-title">{{title}}</p>
              <span><img src="{{asset 'arrow_down.png'}}" /></span>
              <div class="article-body">
                {{body}}
              </div>
            </li>
            {{/each}}
            {{#if more_articles}}
            <div style="margin-top: 20px;">
              <a style="text-align: right; display: block;" href="{{url}}" class="article-sidebar-item">{{t 'see_more'}}</a>
            </div>
            {{/if}}
          </ul>
        </div><!-- box-items -->
      </div><!-- box -->
      {{/each}}
    {{/each}}
  </div>
</section>

<!-- end of contant form -->
<!--<div class="container">

  {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

  <section class="section activity">
    {{recent_activity}}
  </section>
<div class="contactmodule mid">
  <br><br><br><center><h1 style="color:white"><b>Need help?</b></h1><br>
       <a href="https://skylar.zendesk.com/hc/en-us/requests/new"><button class="button buttonCTA">CONTACT US</button></a></center>
</div>
</div>-->
