<section class="section hero">
  <div class="hero-inner">
    <h2>Questions?</h2>
    <p><u><a href="https://skylar.zendesk.com/hc/en-us/requests/new">Contact Us</a></u>. We’ll get back to you as soon as we can.</p>
    {{search submit=false instant=true class='search search-full'}}
  </div>
</section>

<section class="section knowledge-base">
  <div class="container">
    <section class="categories blocks">
      <ul class="blocks-list">

        <li class="blocks-item">
          <a href="#360000248994" class="blocks-item-link">
            <!-- url /hc/en-us/categories/360000248994-General -->
            <h4 class="blocks-item-title">General</h4>
            <p class="blocks-item-description"></p>
          </a>
        </li>

        <li class="blocks-item">
          <a href="#360000472694" class="blocks-item-link">
            <!-- url /hc/en-us/categories/360000472694-Shipping -->
            <h4 class="blocks-item-title">Shipping</h4>
            <p class="blocks-item-description"></p>
          </a>
        </li>

        <li class="blocks-item">
          <a href="#360000472714" class="blocks-item-link">
            <!-- url /hc/en-us/categories/360000472714-Payments-Gift-Cards-and-Promos -->
            <h4 class="blocks-item-title">Payments, Gift Cards, and Promos</h4>
            <p class="blocks-item-description"></p>
          </a>
        </li>

        <li class="blocks-item">
          <a href="#360000471813" class="blocks-item-link">
            <!-- url /hc/en-us/categories/360000471813-My-Orders-Account -->
            <h4 class="blocks-item-title">My Orders &amp; Account</h4>
            <p class="blocks-item-description"></p>
          </a>
        </li>

        <li class="blocks-item">
          <a href="#360000471833" class="blocks-item-link">
            <!-- url /hc/en-us/categories/360000471833-Returns-Exchanges -->
            <h4 class="blocks-item-title">Returns &amp; Exchanges</h4>
            <p class="blocks-item-description"></p>
          </a>
        </li>

        <li class="blocks-item">
          <a href="#360000471853" class="blocks-item-link">
            <!-- url /hc/en-us/categories/360000471853-Product-Info -->
            <h4 class="blocks-item-title">Product Info</h4>
            <p class="blocks-item-description"></p>
          </a>
        </li>
      </ul>
    </section>
  </div>
</section>

<header class="page-header">
  <h1>{{t 'search_results'}}</h1>
  <p class="page-header-description">{{t 'results' query=query count=results_count}}</p>
</header>
<div class="container">
  {{#if article_results}}
  <section class="section-questions">
    <div class="box">
      <div class="box-items">
        <ul>
          {{#each article_results}}
          <li>
         <p class="question-title">{{title}}</p>
            <span><img src="{{asset 'arrow_down.png'}}" /></span>
            <div class="article-body">
              {{text}}
              <a style="text-align: right; display: block;" href="{{url}}" class="article-sidebar-item">Read more ></a>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>
{{else}}
<p>
  {{t 'no_results' query=query}}
  {{#link 'help_center'}}
  {{t 'browse_knowledge_base'}}
  {{/link}}
</p>
{{/if}}
{{pagination}}
</div>
