<section class="section hero">
  <div class="hero-inner">
    <h2>Questions?</h2>
    <p><u><a href="https://skylar.zendesk.com/hc/en-us/requests/new">Contact Us</a></u>. We’ll get back to you as soon as we can.</p>
    {{search submit=false instant=true class='search search-full'}}
  </div>
</section>
<section class="section knowledge-base">
  <div class="container">
    <section class="categories blocks">
      <ul class="blocks-list"><u><a href="https://skylar.zendesk.com/hc/en-us#360000248994">General</a></u> | <u><a href="https://skylar.zendesk.com/hc/en-us#360000472694">Shipping</a></u> | <u><a href="https://skylar.zendesk.com/hc/en-us#360000472714">Payments, Gift Cards, and Promos</a></u> <br> 
        <u><a href="https://skylar.zendesk.com/hc/en-us#360000471813">My Orders & Account</a></u> | <u><a href="https://skylar.zendesk.com/hc/en-us#360000471833">Returns & Exchanges</a></u> | <u><a href="https://skylar.zendesk.com/hc/en-us#360000471853">Product Info</a></u></section></div></section>
<header class="page-header">
  <h1>{{section.name}}</h1>
</header>

<div class="container">
  {{#if section.articles}}
  <section class="section-questions">
    <div class="box">
      <div class="box-items">
        <ul>
          {{#each section.articles}}
          <li>
            <p class="question-title">{{title}}</p>
            <span><img src="{{asset 'arrow_down.png'}}" /></span>
            <div class="article-body">
              {{body}}
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>
{{/if}}
{{pagination}}
</div>
